# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# Streamlit
.streamlit/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Tests cache
.pytest_cache/
.hypothesis/

# Logs
*.log
